.custom-modal-container {
  width: 80%;
}

.custom-modal-header {
  font-size: large;
}

.custom-modal-content {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.custom-modal-body {
  padding-top: 0;
  padding-bottom: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}