.page-container{
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.page-header {
  font-weight: 500;
  font-size: x-large;
}

.page-actions-container {
  float: right;
}

.page-content-container {
  padding-top: 20px;
}